imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }
    - { resource: "@WhatsappBundle/Resources/config/services.yml" }
    #- { resource: "@RegistroentradaBundle/Resources/config/services.yml" }
    
    

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: es

framework:
    #esi:             ~
    translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    #serializer:      { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # handler_id set to null will use default session handler from php.ini
        handler_id:  ~
        cookie_lifetime: 100000
        gc_maxlifetime: 100000
    fragments:       ~
    http_method_override: true

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    form:
        resources: 
#            - 'bootstrap_3_layout.html.twig'
            - 'SonataAdminBundle:Form:form_admin_fields.html.twig'
            - 'SonataCoreBundle:Form:datepicker.html.twig'


# Doctrine Configuration
doctrine:
    dbal:
        driver:   pdo_mysql
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        types:
            json: Sonata\Doctrine\Types\JsonType
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: "%kernel.root_dir%/data/data.db3"
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #     path:     "%database_path%"

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
#        naming_strategy: doctrine.orm.naming_strategy.underscore
#        auto_mapping: true
        entity_managers:
            default:
                mappings:
                    ApplicationSonataUserBundle: ~
                    SonataUserBundle: ~
                    FOSUserBundle: ~
                    ApplicationSonataMediaBundle: ~
                    SonataMediaBundle: ~
                    SonataClassificationBundle: ~
                    ApplicationSonataClassificationBundle: ~
                    WhatsappBundle: ~

# Swiftmailer Configuration
swiftmailer:
    transport: smtp
    username: machavez2086@gmail.com
    password: Adm11381****
    encryption: ssl
    auth_mode:  login
    host:       173.194.65.108
    port:       465
    #transport: "%mailer_transport%"
    #host:      "%mailer_host%"
    #port:       "%mailer_port%"
    #encryption: "%mailer_encryption%"
    #username:  "%mailer_user%"
    #password:  "%mailer_password%"
    #spool:     { type: memory }
    
sonata_block:
    default_contexts: [cms]
    blocks:
        # enable the SonataAdminBundle block
        sonata.admin.block.admin_list:
            contexts: [admin]
        sonata.block.service.text:
        sonata.user.block.menu:    # used to display the menu in profile pages
        sonata.user.block.account: # used to display menu option (login option)
        sonata.admin.block.search_result:
            
sonata_user:
    security_acl: true
    manager_type: orm # can be orm or mongodb        
    class:        
        user: Application\Sonata\UserBundle\Entity\User
        group: Application\Sonata\UserBundle\Entity\Group
    admin:                  # Admin Classes
        user:
            class:          Application\Sonata\UserBundle\Admin\Entity\UserAdmin
            controller:     SonataAdminBundle:CRUD
            translation:    SonataUserBundle
        group:
            class:          Sonata\UserBundle\Admin\Entity\GroupAdmin
            controller:     SonataAdminBundle:CRUD
            translation:    SonataUserBundle

    profile:  # Profile Form (firstname, lastname, etc ...)
        form:
            type:               sonata_user_profile
            handler:            sonata.user.profile.form.handler.default
            name:               sonata_user_profile_form
            validation_groups:  [Profile]
    
fos_user:
    db_driver:      orm # can be orm or odm
    firewall_name:  main
    user_class:     Application\Sonata\UserBundle\Entity\User
    from_email: # Use this node only if you don't want the global email address for the resetting email
        address: macahvez@uci.cu
        sender_name: Quien_Envia
    registration:
        confirmation:
            enabled: true
            from_email:
                address:        macahvez@uci.cu
                sender_name:    Demo Registration
    service:
        mailer:  fos_user.mailer.twig_swift



    group:
        group_class:   Application\Sonata\UserBundle\Entity\Group
        group_manager: sonata.user.orm.group_manager                    # If you're using doctrine orm (use sonata.user.mongodb.user_manager for mongodb)

    service:
        user_manager: sonata.user.orm.user_manager                      # If you're using doctrine orm (use sonata.user.mongodb.group_manager for mongodb)   
        
sonata_media:
    # if you don't use default namespace configuration
    #class:
    #    media: MyVendor\MediaBundle\Entity\Media
    #    gallery: MyVendor\MediaBundle\Entity\Gallery
    #    gallery_has_media: MyVendor\MediaBundle\Entity\GalleryHasMedia
    db_driver: doctrine_orm # or doctrine_mongodb, doctrine_phpcr it is mandatory to choose one here
    default_context: default # you need to set a context
    contexts:
        default:  # the default context is mandatory
            providers:
                - sonata.media.provider.dailymotion
                - sonata.media.provider.youtube
                - sonata.media.provider.image
                - sonata.media.provider.file
                - sonata.media.provider.vimeo

            formats:
                small: { width: 100 , quality: 70}
                big:   { width: 500 , quality: 70}

    cdn:
        server:
            path: /uploads/media # http://media.sonata-project.org/

    filesystem:
        local:
            directory:  "%kernel.root_dir%/../web/uploads/media"
            create:     false        
sonata_admin:
    templates:
#        layout:  SonataAdminBundle::standard_layout.html.twig
        layout:  WhatsappBundle::standard_layout.html.twig
        ajax:    SonataAdminBundle::ajax_layout.html.twig

        # default actions templates, should extend a global templates
        list:    SonataAdminBundle:CRUD:list.html.twig
        show:    SonataAdminBundle:CRUD:show.html.twig
        edit:    SonataAdminBundle:CRUD:edit.html.twig

        # search
        search:              SonataAdminBundle:Core:search.html.twig
        search_result_block: SonataAdminBundle:Block:block_search_result.html.twig
#        user_block: ApplicationSonataUserBundle:Admin/Core:user_block.html.twig

    dashboard:
        blocks:
            # display a dashboard block
            - { position: center, type: sonata.admin.block.admin_list }
        groups:
            sonata.user.admin.groupname:
                label: Administración
                label_catalogue: SonataUserBundle
                items:
                    - sonata.user.admin.user
                    - sonata.admin.whatsapp.generalconfiguration
                    - sonata.admin.whatsapp.configuration
                    - sonata.admin.whatsapp.usercompany
                    - sonata.admin.whatsapp.configurationalertphone
                    - sonata.admin.whatsapp.configurationalertemail

#                    - sonata.user.admin.group
                    
                roles: [  ROLE_SUPER_ADMIN ] 

            sonata.user.admin.actions:
                label: Acciones administrativas
                label_catalogue: SonataUserBundle
                items:
                    - route: synchronize_mail
                      label: Correos sin leer
                    - route: synchronize_mail_all
                      label: Todos los correos
                    - route: close_pending_tickets
                      label: Cambios pendientes


#                    - sonata.user.admin.group
                    
                roles: [  ROLE_SUPER_ADMIN ] 
        
            sonata.admin.whatsapp:
                label: Whatsapp
                label_catalogue: WhatsappBundle
                items:
                    
                    - sonata.admin.whatsapp.message
                    - sonata.admin.whatsapp.ticket
                    - sonata.admin.whatsapp.alert
                    
                roles: [  ROLE_ADMIN ] 
        
            sonata.admin.whatsapp.configuration:
                label: Configuración
                label_catalogue: WhatsappBundle
                items:
                    
#                    - route: my_companies
#                      label: Mis empresas
#                      route_params: { action: "list" }
                    - sonata.admin.whatsapp.supportmember
                    - sonata.admin.whatsapp.clientmember
                    - sonata.admin.whatsapp.whatsappgroup
                    - sonata.admin.whatsapp.tickettype
                    - sonata.admin.whatsapp.solutiontype
                    
                roles: [  ROLE_ADMIN ]
        
            sonata.admin.whatsapp.keywords:
                label: Palabras claves
                label_catalogue: WhatsappBundle
                items:
                    - sonata.admin.whatsapp.firstanswerkeyword
                    - sonata.admin.whatsapp.firstnofollowkeyword
                    - sonata.admin.whatsapp.lastanswerkeyword
                    - sonata.admin.whatsapp.validationkeyword
#                    - sonata.admin.whatsapp.askandanswers
                    
                roles: [  ROLE_ADMIN ]  
                
    title:      Whatsapp
    title_logo: apple-touch-icon.png
    options:
        html5_validate: false

fos_rest:
    param_fetcher_listener:
        enabled: true
    routing_loader:
        default_format: json
    view:
        view_response_listener:
            enabled: true
            force: false
    serializer:
        serialize_null: true
    format_listener:
        rules:
            - { path: '^/api/', fallback_format: json }
            - { path: '^/', stop: true }
nelmio_api_doc: ~                    

sonata_intl:
    timezone:
        detectors:
            - sonata.intl.timezone_detector.user
            - sonata.intl.timezone_detector.locale
