{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'WhatsappBundle:Default:home.html.twig' %}


{% block contenido_especifico %}
    <div class="page-header" filter-color="orange">
        <div class="page-header-image" style="background-image: url({{ asset('bundles/whatsapp/img/img-home/img/whatsapp-2.jpg')  }});"></div>
        <div class="container">
            <div class="col-md-4 content-center">
                <div class="card card-login card-plain">
                    {{ form_errors(form) }}

                    <div class="box-header">
                        <h4 class="box-title"> Cambiar contraseña </h4>
                    </div>

                    {% block fos_user_content %}
                        {% include "SonataUserBundle:ChangePassword:changePassword_content.html.twig" %}
                    {% endblock fos_user_content %}
                    <a style="float: left;" class="nav-link" href="{{ path('home') }}"><i class="fa fa-arrow-circle-o-left"></i></a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}


{% block footer%}
{% endblock %}



