

<a class="btn btn-sm btn-default edit_link" href="{{ path('admin_whatsapp_message_list', {
  'filter[ticket][value]': object.id,'filter[configuration][value]': object.configuration.id,   'filter[_sort_order]': "ASC",'filter[_sort_by]': "dtmmessage", 'filter[_per_page]': "192"
}) }}" class="btn btn-small">Ver mensajes</a>



