

<a class="btn btn-sm btn-default edit_link" target="blank"  href="{{ path('admin_whatsapp_message_list', {
  'filter[conversation][value]': object.id,   'filter[_sort_order]': "ASC",'filter[_sort_by]': "dtmmessage", 'filter[_per_page]': "192"
}) }}" class="btn btn-small">Ver mensajes</a>



