
<button class="btn btn-sm btn-default edit_link" type="button" onclick="printJS('{{ url('ticket_oblea_envio_print', {obleaEnvio: object.id})}}')"><i aria-hidden="true" class="fa fa-print"></i> Imprimir</button>