

<a class="btn btn-sm btn-default edit_link" target="blank"  href="{{ path('ticket_oblea_envio_print_preview', {obleaEnvio: object.id})}}" class="btn btn-small">    
    <i aria-hidden="true" class="fa fa-picture-o"></i>
    Vista de impresión</a>



